footer{
    grid-area: footer;
    background: $principal;
}

.pieDePagina{
    background: $principal;
}
    .pieDePaginaContainer{
        @include flex(flex, space-around,);
        min-height: 100%;
        padding: 0.5em;
    }
        .pieDePagina__contenido{
            @include flex();
            list-style: none;
            gap: 1em;
        }
        .pieDePagina__texto{
            color: $font-color-tittle;
        }
        .pieDePagina__redes{
            text-decoration: none;
            color: $font-color-tittle;
        }
        .pieDePagina__enlaceDeInicio{
            color: $font-color-tittle;
        }