 #grilla{
     display: grid;
     grid-template-areas: 
     "header header header" 
     "section section section"
     "section section section"
     "footer footer footer"
     ;
     grid-template-rows: 108px 500px 500px 36px ;
     grid-template-columns: 25%;
     height: 100vh;
     margin: 0;
 }

.seccionPrincipal__home{
    @include flex (center);
    background: url(..//imagenes/cafe-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seccionPrincipal{
    background: $secondary;
}
.seccionPrincipal__tituloHome{
    @include flex (row, center, justify);
    font-size: map-get($map: $fuentes, $key: titulo-inicio );
    color: $font-color-tittle;
    text-align: justify;
    letter-spacing: 0.2em;
    transition: transform 1s ease;
    margin-bottom: 10rem;
}
.seccionPrincipal__titulo{
    @include flex(center);
    color: $font-color-body;
    letter-spacing: 0.2em;
    margin-bottom: 2em;
    margin-top: 2em;
    text-decoration: underline;
}
.seccionPrincipal__texto{
    @include flex(justify);
    color: $font-color-body;
    margin: 3rem;   
}