#grilla {display: grid;}

@media screen and (max-width: 1440px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header header" 
        "section section section"
        "section section section"
        "footer footer footer"
        ;
        grid-template-rows: 108px 700px 700px 50px ;
        grid-template-columns: 25%;
        height: 100vh;
        margin: 0;
    }
}
@media screen and (max-width: 1024px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header header" 
        "section section section"
        "section section section"
        "footer footer footer"
        ;
        grid-template-rows: 140px 600px 710px 50px ;
        grid-template-columns: 25%;
        height: 100vh;
        margin: 0;
     }
     .header, .section .footer{
         width: 1024px;
         max-width: 1024px;
     }
     .header .navegador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .navegador__logo{
        margin: 10px 0;
    }
     .menuDeNavegacion a{
        font-size: 20px;
    }
     .seccionPrincipal__tituloHome{
        font-size: 36px;
    }
    .imagenNosotrosContainer__1{
        width: 70%;
        margin-right: 0px;
    }
    .formContactoContainer{
        justify-content: center;
    }
    .fromContactoContainer__img{
        margin-right: -5px;
    }
    .footer .pieDePaginaContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: $principal;
    }
    .pieDePagina__texto, .pieDePagina__redes{
        font-size: 20px;
        margin-bottom: 10px;
    } 
}

@media screen and (max-width: 768px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header header" 
        "section section section"
        "section section section"
        "footer footer footer"
        ;
        grid-template-rows: 140px 500px 500px 75px ;
        grid-template-columns: 25%;
        height: 100vh;
        margin: 0;
     }
    .navegador__logo{
        margin: 10px 0;
    }
    .menuDeNavegacion{
        margin-top: 10px;
    }
    .menuDeNavegacion a{
        font-size: 20px;
        margin: 10px 0;
     }
    .seccionPrincipal__tituloHome{
        font-size: 25px;
    }
    .header, .section, .footer{
        max-width: 768px;
    }
    .formContactoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    .formContacto{
        margin-right: 30px;
    }
    .header .navegador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imagenesNosotrosContainer{
        display: flex;
        flex-direction: column;
    }
    .imagenNosotrosContainer__1{
        width: 90%;
        margin-right: 0px;
    }
    .pieDePagina{
        margin-top: 100px;
    }
    .footer .pieDePaginaContainer{
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        background: $principal;
    }
    .footer{
        background: $secondary;
    }
    .pieDePagina__texto, .pieDePagina__redes{
        font-size: 20px;
        margin-bottom: 10px;
    }       
}

@media screen and (max-width: 599px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header header" 
        "section section section"
        "section section section"
        "footer footer footer"
        ;
        grid-template-rows: 150px 550px 600px 75px ;
        grid-template-columns: 25%;
        height: 100vh;
        margin: 0;
     }
     .header, .section, .footer{
         max-width: 599px;
     }
    .header .navegador .encabezado {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menuDeNavegacion{
        max-width: 599px;
        flex-basis: auto;
        margin: 10px 0 0 0;
    }
    .seccionPrincipal__home{
        margin-top: 250px;
    }
    .asesoriaContainer{
        justify-content: center;
    }
    .formContactoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navegador__logo{
        margin: 10px 0;
    }
    .menuDeNavegacion a{
        font-size: 18px;
     }
    .seccionPrincipal__tituloHome{
        font-size: 25px;
    }
    .imagenNosotrosContainer__1{
        width: 90%;
        margin-left: 30px;
    }
    .imagenesNosotrosContainer{
        margin-right: 30px;
    }
    .imagenesNosotrosContainer__2{
        @include flex(row, center,);
    }
    .imagenNosotrosContainer__2 {
        width: 90%;
    }
    .imagenNosotrosContainer__3 {
        display: none;
    }
    .footer .pieDePaginaContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pieDePagina{
        height: 100px;
        background: $principal;
        margin-top: 550px;
    }
    .footer{
        background: $secondary;
    }
    .pieDePagina__texto, .pieDePagina__redes{
        font-size: 18px;
        margin-bottom: 10px;
    }       
}
@media screen and (max-width: 480px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header header" 
        "section section section"
        "section section section"
        "footer footer footer"
        ;
        grid-template-rows: 170px 580px 580px 95px ;
        grid-template-columns: 25%;
        height: 100vh;
        margin: 0;
     }
    .header .navegador .encabezado {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .header, .section, .footer{
        max-width: 480px;
    }
    .navegador{
        margin-top: 25px;
    }
    .menuDeNavegacion{
        max-width: 480px;
        flex-basis: auto;
    }
    .menuDeNavegacion a{
        font-size: 18px;
        padding: 0.5em;
     }
    .seccionPrincipal__home{
        margin-top: 250px;
    }
    .seccionPrincipal__tituloHome{
        font-size: 25px;
    }
    .asesoriaContainer{
        justify-content: center;
    }
    .formContactoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }
    .formContacto{
        margin-right: 20px;
    }
    .imagenesNosotrosContainer{
        margin-right: 30px;
    }
    .imagenesNosotrosContainer__2{
        @include flex(row, center,);
    }
    .imagenNosotrosContainer__2 {
        width: 90%;
    }
    .imagenNosotrosContainer__3 {
        display: none;
    }
    .pieDePagina{
        height: 100px;
        background: $principal;
        margin-top: 550px;
    }
    .footer .pieDePagina .pieDePaginaContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer{
        background: $secondary;
    }
    .pieDePagina__texto, .pieDePagina__redes{
        font-size: 18px;
        margin-bottom: 10px;
    }       
}
@media screen and (max-width: 360px){
         #grilla{
            display: grid;
            grid-template-areas: 
            "header header header" 
            "section section section"
            "section section section"
            "footer footer footer"
            ;
            grid-template-rows: 150px 580px 620px 100px ;
            grid-template-columns: 25%;
            height: 100vh;
            margin: 0;
         }
        .header .navegador .encabezado{
            display: row;
            align-items: center;
            justify-content: space-around;
        }
        .header, .section, .footer{
            max-width: 360px;
        }
        .menuDeNavegacion{
            flex-basis: auto;
            display: row;
        }
        .menuDeNavegacion a{
            font-size: 13px ;
            padding: 0.5em;
        }
        .seccionPrincipal__home{
            margin-top: 250px;
        }
        .seccionPrincipal__tituloHome{
            font-size: 20px;
        }
        .asesoriaContainer{
            justify-content: center;
        }
        .formAsesorias__input, .formAsesorias__label, .formAsesorias__select, .formAsesorias__button {
            margin-right: 40px;
        }
        .formContactoContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .formContacto{
            margin-right: 30px;
        }
        .imagenesNosotrosContainer{
            margin-right: 30px;
        }
        .imagenesNosotrosContainer__2{
            display: none;
        }
        .footer .pieDePaginaContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .footer{
            background: $secondary;
        }
        .pieDePagina__texto, .pieDePagina__redes{
            font-size: 13px;
        }  
    }