/* RESET */

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

/* GLOBALS */

html{
    font-size: 62.5%;
    font-family: var(--font-primary);
}
body{
    font-family: 'Fredoka', sans-serif;
    background: var(--secondary) ;
    line-height: normal;
}
h1{
    font-weight: bold ;
}