    $principal:#A87F4D;
    $secondary:#E9A65F;
    $font-color-tittle: white;
    $font-color-body: black;
    $font-primary: 'Fredoka', sans-serif;

    $fuentes: (
        titulo-inicio: 5rem,
        titulo: 3.2rem,
        titulo-menor:2.2rem,
        cuerpo: 1.8rem,
    );

    @each $var, $val in $fuentes{
        .ft-#{$var} {
            font-size: $val;
        }
    }