/* IMPORTS */
/* MISCELANEUS */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap");
.ft-titulo-inicio {
  font-size: 5rem; }

.ft-titulo {
  font-size: 3.2rem; }

.ft-cuerpo {
  font-size: 1.8rem; }

/* RESET */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* GLOBALS */
html {
  font-size: 62.5%;
  font-family: var(--font-primary); }

body {
  font-family: 'Fredoka', sans-serif;
  background: var(--secondary);
  line-height: normal; }

h1 {
  font-weight: bold; }

.container-column {
  max-width: 144em;
  margin: 0 auto; }

.container-row {
  max-width: 108em;
  margin: 0 auto; }

.flex-end {
  display: flex;
  align-items: flex-end; }

@keyframes amazing_rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* PARTIALS */
header {
  grid-area: header;
  background: #A87F4D; }

.navegador {
  min-height: 10.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 1rem; }

.navegador__logo {
  flex-basis: 30%;
  animation-name: amazing_rotate;
  animation-duration: 3s;
  animation-iteration-count: 1; }

.menuDeNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  list-style: none;
  flex-basis: 70%; }

.menuDeNavegacion__item a, .menuDeNavegacion__item--active a {
  color: white;
  text-decoration: none;
  padding: 1em; }

.menuDeNavegacion__item a:hover, .menuDeNavegacion__item--active a:hover {
  background: rgba(26, 21, 15, 0.5); }

.menuDeNavegacion__item--active {
  border-bottom: 2px solid white; }

footer {
  grid-area: footer;
  background: #A87F4D; }

.pieDePagina {
  background: #A87F4D; }

.pieDePaginaContainer {
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  min-height: 100%;
  padding: 0.5em; }

.pieDePagina__contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  list-style: none;
  gap: 1em; }

.pieDePagina__texto {
  color: white; }

.pieDePagina__redes {
  text-decoration: none;
  color: white; }

.pieDePagina__enlaceDeInicio {
  color: white; }

section {
  grid-area: section;
  background: var(--secondary); }

/* VIEWS */
#grilla {
  display: grid;
  grid-template-areas: "header header header"  "section section section" "section section section" "footer footer footer";
  grid-template-rows: 108px 500px 500px 36px;
  grid-template-columns: 25%;
  height: 100vh;
  margin: 0; }

.seccionPrincipal__home {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: url(..//imagenes/cafe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.seccionPrincipal {
  background: #E9A65F; }

.seccionPrincipal__tituloHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-size: 5rem;
  color: white;
  text-align: justify;
  letter-spacing: 0.2em;
  transition: transform 1s ease;
  margin-bottom: 10rem; }

.seccionPrincipal__tituloHome:hover {
  transform: rotate(360deg) scale(1.5); }

.seccionPrincipal__titulo {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: black;
  letter-spacing: 0.2em;
  margin-bottom: 2em;
  margin-top: 2em;
  text-decoration: underline; }

.seccionPrincipal__texto {
  display: flex;
  flex-direction: justify;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: black;
  margin: 3rem; }
